body {
    /*border: 2px solid pink;*/
    background-color: rgba(194, 251, 251, 0.687);
    /*font-family: "Lucida Console", "Courier New", monospace;*/
    color:rgb(44, 84, 84);
    width:90%;
    margin: auto;
}
.welcomeLine{
    margin: auto;
    width: 80%;

   /* border: 2px solid powderblue;*/

}

#nameBox_sticky_id{
    margin: auto;
    margin-top: 10px;

    position: sticky;
    top: 0;

    border: 2px solid rgb(100, 197, 197);
    border-radius : 5px;
    height : 200px;
    width: 80%;
    background-color: rgb(100, 197, 197);


}
.groupPhotoCSS{
    border-radius: 50px;

    margin-left: 30px;
    margin-right: 10px;
    margin-top: 55px;
    margin-bottom: 10px;
    /*position: relative;
    right : 100px;*/
}
#nameBox_name{
    margin-top: 75px;
    color:whitesmoke;
}
#infoBoxID{
    margin: auto;
    margin-top: 10px;
    width:80%;
   
    height : 200px;
    /*border: 2px solid pink;*/
    border-radius : 5px;
    position: sticky;
    top: 0;
}
#DescBoxID{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: right;
    margin-top: 46px;


    width:30%;
    position: absolute;
    right: 20px;
    /*border: 3px solid rgba(194, 251, 251, 0.687);*/
    color: rgb(194, 251, 251);


}